#left{
    position: absolute;
    width: 14%;
    height: 95%;
    border: 1px solid blue;
}
#map{
    position: absolute;
    left: 15%;
    width: 70%;
    height: 95%;
    border: 1px solid red;
}
#right{
    position: absolute;
    right: 5px;
    width: 15%;
    height: 95%;
    overflow-y: auto;
    border: 1px solid blue;
}

.custom .leaflet-popup-tip,

.custom .leaflet-popup-content-wrapper {

background: rgb(50, 40, 5);

color: #ffffff;

}
#closeInfo {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #333;
}
/*phat */
#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

#closeButton {
    cursor: pointer;
    float: right;
}

/* CSS để di chuyển nút zoom và locate control xuống dưới cùng bên phải */
.leaflet-bottom.leaflet-right {
    bottom: 10px;
    right: 10px;
}